# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd

# Virtual environments
.venv/
venv/

# Data and models
data/
outputs/
models/trained/

# Logs
*.log

# Environment
.env

# VS Code
.vscode/

# Docker
docker-compose.override.yml
