# Python
__pycache__/
*.pyc
*.pyo
*.pyd

# Virtual Environment
.venv/

# Environment
.env

# Dataset
data/

# Model Weights
models/pretrained/
models/train/weights/last.pt

# Outputs
outputs/

# Notebook
.ipynb_checkpoints/

# VS Code
.vscode/

# macOS
.DS_Store

# Windows
Thumbs.db